/* Coolors Exported Palette - coolors.co/2c5c4b-6eb09e-baece5-706043-b1411c */

/* HSL */
$color1: hsla(159%, 35%, 27%, 1);
$color2: hsla(164%, 29%, 56%, 1);
$color3: hsla(172%, 57%, 83%, 1);
$color4: hsla(39%, 25%, 35%, 1);
$color5: hsla(15%, 73%, 40%, 1);

/* RGB */
$color1: rgba(44, 92, 75, 1);
$color2: rgba(110, 176, 158, 1);
$color3: rgba(186, 236, 229, 1);
$color4: rgba(112, 96, 67, 1);
$color5: rgba(177, 65, 28, 1);